# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
.env

# Node & Frontend
node_modules/
dist/
frontend/dist/
frontend/dist-ssr/
package-lock.json
frontend/package-lock.json
*.local

# Editor & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# SQLite Database
*.db
backend/data/*.db

